
@{
    ViewBag.Title = "Bus Stops";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";    
}

<h1>MVC 5 Form View DataTable Samples</h1>


<!-- CONTENT -->
<div class="content">
    <p>Select a page.</p>
    <br />
    <div class="row">
        <div class="media col-sm-6" style="margin-top:15px;">
            <div class="media-left col-xs-3">
                <a href="@Url.Action("Index", "Angular")"> <img class="media-object img-responsive" src="/Images/bsms-icons-reports.png"> </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">Angular Searching Sorting Paging</h3>
                <p>MVC 5 and MSSQL based Angularjs with Searching, Sroting, Paging. </p>
                @Html.ActionLink("View Page", "Index", "Angular")
            </div>
        </div>
        <div class="media col-sm-6">
            <div class="media-left col-xs-3">
                <a href="@Url.Action("Index", "SFPCompany")"> <img class="media-object img-responsive" src="/Images/bsms-icons-reports.png"> </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">MVC 5 with DataTables</h3>
                <p>MVC 5 and MSSQL based Data Form with DataTables API.</p>
                @Html.ActionLink("View Page", "Index", "SFPCompany")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="media col-sm-6" style="margin-top:15px;">
            <div class="media-left col-xs-3"><a href="@Url.Action("Index", "JqueryModal")"> <img class="media-object img-responsive" src="/Images/bsms-icons-reports.png"> </a> </div>
            <div class="media-body">
                <h3 class="media-heading">MVC 5 Jquery with Modal</h3>
                <p>MVC 5 and MSSQL based Juery, Ajax with Bootstrap Modal and Web API 2</p>
                @Html.ActionLink("View Page", "Index", "JqueryModal")
            </div>
        </div>
        <div class="media col-sm-6">
            <div class="media-left col-xs-3"> <a href="@Url.Action("Index", "JqueryCompany")"> <img class="media-object img-responsive" src="/Images/bsms-icons-reports.png"> </a> </div>
            <div class="media-body">
                <h3 class="media-heading">MVC 5 Jquery</h3>
                <p>MVC 5 and MSSQL based Juery, Ajax with Bootstrap Modal and Web API 2</p>
                @Html.ActionLink("View Page", "Index", "JqueryCompany")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="media col-sm-6" style="margin-top:15px;">
            <div class="media-left col-xs-3"> <a href="@Url.Action("Index", "Company")"> <img class="media-object img-responsive" src="/Images/bsms-icons-reports.png"> </a> </div>
            <div class="media-body">
                <h3 class="media-heading">MVC 5 with DataTables</h3>
                <p>MVC 5 and MSSQL based Juery, Ajax with Bootstrap Modal and Web API 2</p>
                @Html.ActionLink("View Page", "Index", "Company")
            </div>
        </div>
        <div class="media col-sm-6">
            <div class="media-left col-xs-3"> <a href="@Url.Action("Index","ITCompany")"> <img class="media-object img-responsive" src="/Images/bsms-icons-reports.png"> </a> </div>
            <div class="media-body">
                <h3 class="media-heading">MVC 5 Jquery Ajax DataTables</h3>
                <p>MVC 5 and MSSQL based Juery, Ajax with Bootstrap Modal and Web API 2</p>
                @Html.ActionLink("View Page", "Index", "ITCompany")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="media col-sm-6" style="margin-top:15px;">
            <div class="media-left col-xs-3"> <a href="@Url.Action("Index", "DataTables")"> <img class="media-object img-responsive" src="/Images/bsms-icons-reports.png"> </a> </div>
            <div class="media-body">
                <h3 class="media-heading">MVC 5 Jquery AJax DataTables II</h3>
                <p>MVC 5 and MSSQL based Juery, Ajax with Bootstrap Modal and Web API 2</p>
                @Html.ActionLink("View Page", "Index", "DataTables")                
            </div>
        </div>
        <div class="media col-sm-6">
            <div class="media-left col-xs-3"> <a href="@Url.Action("Index", "StoredProcedure")"> <img class="media-object img-responsive" src="/Images/bsms-icons-reports.png"> </a> </div>
            <div class="media-body">
                <h3 class="media-heading">MVC 5 Stored Procedure</h3>
                <p>MVC 5 and MSSQL based Juery, Ajax with Bootstrap Modal and Stored Procedure</p>
                @Html.ActionLink("View Page", "Index", "StoreProcedure")                
            </div>
        </div>
    </div>
</div>
<!-- end .content -->
