
@{
    //Layout = "~/Views/Shared/_JqueryLayout.cshtml";
    Layout = null;
}
@*<!DOCTYPE html>
<html lang="en">
<head>
    <title>IT Companies Rank</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1000, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen:400,700">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/layout.css">
    <script charset="utf-8" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script charset="utf-8" src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.js"></script>
    <script charset="utf-8" src="//cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.min.js"></script>*@
    @*<script src="~/Scripts/ajaxApp.js"></script>*@
    @*<style>
        .hiddenId{
            visibility: hidden;
        }
    </style>*@
@*</head>
<body>

    <div id="page_container">
        <h1>Largest IT Companies by Revenue</h1>
        
        <button type="button" class="button" id="add_company">Add Company</button>
        <table class="datatable" id="table_companies">
            <thead>
                <tr>
                    <th class=".hiddenId">Id</th>
                    <th>Rank</th>
                    <th>Company Name</th>
                    <th>Industries</th>
                    <th>Revenue</th>
                    <th>Year</th>
                    <th>Employess</th>
                    <th>Market Cap</th>
                    <th>Headquarters</th>
                    <th>Functions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="lightbox_bg"></div>*@

    @*<div class="lightbox_container">
            <div class="lightbox_close"></div>
            <div class="lightbox_content">
                <h2>Add Company</h2>
                <form class="form add" id="form-company" data-id="" novalidate>
                    <div class="input_container">
                        <label for="rank">Rank: <span class="required"></span></label>
                        <div class="field_container">
                            <input type="number" step="1" min="0" class="text" name="rank" id="rank" value="" required>
                        </div>
                    </div>
                    <div class="input_container">
                        <label for="company_name">Company name: <span class="required">*</span></label>
                        <div class="field_container">
                            <input type="text" class="text" name="company_name" id="company_name" value="" required>
                        </div>
                    </div>
                    <div class="input_container">
                        <label for="industries">Industries: <span class="required">*</span></label>
                        <div class="field_container">
                            <input type="text" class="text" name="industries" id="industries" value="" required>
                        </div>
                    </div>
                    <div class="input_container">
                        <label for="revenue">Revenue: <span class="required">*</span></label>
                        <div class="field_container">
                            <input type="number" step="1" min="0" class="text" name="revenue" id="revenue" value="" required>
                        </div>
                    </div>
                    <div class="input_container">
                        <label for="fiscal_year">Fiscal year: <span class="required">*</span></label>
                        <div class="field_container">
                            <input type="number" min="0" class="text" name="fiscal_year" id="fiscal_year" value="" required>
                        </div>
                    </div>
                    <div class="input_container">
                        <label for="employees">Employees: <span class="required">*</span></label>
                        <div class="field_container">
                            <input type="number" min="0" class="text" name="employees" id="employees" value="" required>
                        </div>
                    </div>
                    <div class="input_container">
                        <label for="market_cap">Market cap: <span class="required">*</span></label>
                        <div class="field_container">
                            <input type="number" step="1" min="0" class="text" name="market_cap" id="market_cap" value="" required>
                        </div>
                    </div>
                    <div class="input_container">
                        <label for="headquarters">Headquarters: <span class="required">*</span></label>
                        <div class="field_container">
                            <input type="text" class="text" name="headquarters" id="headquarters" value="" required>
                        </div>
                    </div>
                    <div class="button_container">
                        <button type="submit">Add company</button>
                    </div>
                </form>
            </div>
        </div>*@

    @*<div class="lightbox_container">
        <div class="lightbox_close"></div>

        <div class="lightbox_content">

            <h2>Add company</h2>
            <form class="form add" id="form_company" data-id="" novalidate>
                <div class="input_container">
                    <label for="rank">Rank: <span class="required">*</span></label>
                    <div class="field_container">
                        <input type="number" step="1" min="0" class="text" name="rank" id="rank" value="" required>
                    </div>
                </div>
                <div class="input_container">
                    <label for="company_name">Company name: <span class="required">*</span></label>
                    <div class="field_container">
                        <input type="text" class="text" name="name" id="name" value="" required>
                    </div>
                </div>
                <div class="input_container">
                    <label for="industries">Industries: <span class="required">*</span></label>
                    <div class="field_container">
                        <input type="text" class="text" name="industry" id="industry" value="" required>
                    </div>
                </div>
                <div class="input_container">
                    <label for="revenue">Revenue: <span class="required">*</span></label>
                    <div class="field_container">
                        <input type="number" step="1" min="0" class="text" name="revenue" id="revenue" value="" required>
                    </div>
                </div>
                <div class="input_container">
                    <label for="fiscal_year">Fiscal year: <span class="required">*</span></label>
                    <div class="field_container">
                        <input type="text" class="text" name="fiscalYear" id="fiscalYear" value="" required>
                    </div>
                </div>
                <div class="input_container">
                    <label for="employees">Employees: <span class="required">*</span></label>
                    <div class="field_container">
                        <input type="number" min="0" class="text" name="employees" id="employees" value="" required>
                    </div>
                </div>
                <div class="input_container">
                    <label for="market_cap">Market cap: <span class="required">*</span></label>
                    <div class="field_container">
                        <input type="number" step="1" min="0" class="text" name="marketCap" id="marketCap" value="" required>
                    </div>
                </div>
                <div class="input_container">
                    <label for="headquarters">Headquarters: <span class="required">*</span></label>
                    <div class="field_container">
                        <input type="text" class="text" name="headquarters" id="headquarters" value="" required>
                    </div>
                </div>
                <div class="button_container">
                    <button type="submit">Add company</button>
                </div>
            </form>

        </div>
    </div>


    <noscript id="noscript_container">
        <div id="noscript" class="error">
            <p>Javascript support is needed to use this page.</p>
        </div>
    </noscript>

    <div id="message_container">
        <div id="message" class="success">
            <p>This is a success message.</p>
        </div>
    </div>

    <div id="loading_container">
        <div id="loading_container2">
            <div id="loading_container3">
                <div id="loading_container4">
                    Loading, please wait...
                </div>
            </div>
        </div>
    </div>
</body>
</html>*@


@*@section Scripts{*@
@*<script charset="utf-8" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script charset="utf-8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script charset="utf-8" src="//cdn.jsdelivr.net/jquery.validation/1.13.1/jquery.validate.min.js"></script>*@
@*<script type="text/javascript">
    $(function () {
        var table = $("#table_companies").DataTable({
            ajax: {
                url: "/api/companies",
                dataSrc: ""
                //success: function (data) {
                //    console.log(data);
                //}
            },
            columns: [
                { "data": "id", "sClass": "hiddenId"},
                { "data": "rank" },
                { "data": "name", "sClass": "company_name" },
                { "data": "industry" },
                { "data": "revenue", "sClass": "integer" },
                { "data": "fiscalYear" },
                { "data": "employees", "sClass": "integer" },
                { "data": "marketCap", "sClass": "integer" },
                { "data": "headquarters" },
                //{ "data": "functions", "sClass": "functions" },
                //{ "data": null, "defaultContent": '<div class="functions function_buttons"><ul><li class="function_edit"><a data-id="' + 1 + '" data-name="' + name + '"><span>Edit</span></a></li><li class="function_delete"><a data-id="' + 1 + '" data-name="' + name + '"><span>Delete</span></a></ul></div>'},
                //{ "data": null, "defaultContent": '<div class="functions function_buttons"><ul><li class="function_edit"><a data-id="' + data.id + '"><span>Edit</span></a></li><li class="function_delete"><a data-id="' + 1 + '" data-name="' + name + '"><span>Delete</span></a></ul></div>' }
                { "data": null, "sClass": "functions", "defaultContent": '<div class="function_buttons"><ul><li class="function_edit"><a><span>Edit</span></a></li><li class="function_delete"><a><span>Delete</span></a></ul></div>' }
            ],
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [-1] }
            ],
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "oLanguage": {
                "oPaginate": {
                    "sFirst": " ",
                    "sPrevious": " ",
                    "sNext": " ",
                    "sLast": " "
                },
                "sLengthMenu": "Records per page: _MENU_",
                "sInfo": "Total of _TOTAL_ records (showing _START_ to _END_)",
                "sInfoFiltered": "(filtered from _MAX_ total records)"
            }
        });

       
        // On page load: form validation
        jQuery.validator.setDefaults({
            success: 'valid',
            rules: {
                fiscal_year: {
                    required: true,
                    min: 2000,
                    max: 2025
                }
            },
            errorPlacement: function (error, element) {
                error.insertBefore(element);
            },
            highlight: function (element) {
                $(element).parent('.field_container').removeClass('valid').addClass('error');
            },
            unhighlight: function (element) {
                $(element).parent('.field_container').addClass('valid').removeClass('error');
            }
        });
        var form_company = $('#form_company');
        form_company.validate();

        // Show message
        function show_message(message_text, message_type) {
            $('#message').html('<p>' + message_text + '</p>').attr('class', message_type);
            $('#message_container').show();
            if (typeof timeout_message !== 'undefined') {
                window.clearTimeout(timeout_message);
            }
            timeout_message = setTimeout(function () {
                hide_message();
            }, 8000);
        }
        // Hide message
        function hide_message() {
            $('#message').html('').attr('class', '');
            $('#message_container').hide();
        }

        // Show loading message
        function show_loading_message() {
            $('#loading_container').show();
        }
        // Hide loading message
        function hide_loading_message() {
            $('#loading_container').hide();
        }

        // Show lightbox
        function show_lightbox() {
            $('.lightbox_bg').show();
            $('.lightbox_container').show();
        }
        // Hide lightbox
        function hide_lightbox() {
            $('.lightbox_bg').hide();
            $('.lightbox_container').hide();
        }
        // Lightbox background
        $(document).on('click', '.lightbox_bg', function () {
            hide_lightbox();
        });
        // Lightbox close button
        $(document).on('click', '.lightbox_close', function () {
            hide_lightbox();
        });
        // Escape keyboard key
        $(document).keyup(function (e) {
            if (e.keyCode == 27) {
                hide_lightbox();
            }
        });

        // Hide iPad keyboard
        function hide_ipad_keyboard() {
            document.activeElement.blur();
            $('input').blur();
        }

        // Add company button
        $(document).on('click', '#add_company', function (e) {
            e.preventDefault();
            $('.lightbox_content h2').text('Add company');
            $('#form_company button').text('Add company');
            $('#form_company').attr('class', 'form add');
            $('#form_company').attr('data-id', '');
            $('#form_company .field_container label.error').hide();
            $('#form_company .field_container').removeClass('valid').removeClass('error');
            $('#form_company #rank').val('');
            $('#form_company #name').val('');
            $('#form_company #industry').val('');
            $('#form_company #revenue').val('');
            $('#form_company #fiscalYear').val('');
            $('#form_company #employees').val('');
            $('#form_company #marketCap').val('');
            $('#form_company #headquarters').val('');
            show_lightbox();
        });

        // Add company submit form
        $(document).on('submit', '#form_company.add', function (e) {
            e.preventDefault();
            // Validate form
            if (form_company.valid() == true) {
                // Send company information to database
                hide_ipad_keyboard();
                hide_lightbox();
                show_loading_message();
                var form_data = $('#form_company').serialize();
                console.log(form_data);
                var request = $.ajax({                
                    url: '/api/companies',
                    cache: false,
                    data: JSON.stringify(form_data),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    type: 'post',
                    });
                    request.done(function (output) {                    
                        console.log(output);
                        if (output.result == 'success') {
                            // Reload datable
                            table_companies.api().ajax.reload(function () {
                                hide_loading_message();
                                var company_name = $('#name').val();
                                show_message("Company '" + company_name + "' added successfully.", 'success');
                            }, true);
                        } else {
                            hide_loading_message();
                            show_message('Add request failed', 'error');
                        }
                    });

                    request.fail(function (jqXHR, textStatus) {
                    hide_loading_message();
                    show_message('Add request failed: ' + textStatus, 'error');
                });
            }
        });

        // Edit company button
        $(document).on('click', '.function_edit a', function (e) {
            e.preventDefault();
            //console.log($(this).parent().parent().parent().parent().parent().children("td:eq(0)").text());
            var number = $(this).parent().parent().parent().parent().parent().children("td:eq(0)").text();
            //console.log(number);
            // Get company information from database
            show_loading_message();
            //var id = $(this).data('id');
            var id = number;
            var request = $.ajax({
                url: '/api/companies',
                cache: false,
                data: 'id=' + id,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                type: 'GET'
            });
            request.done(function (output) {
                console.log(typeof(output.fiscalYear));
                //if (output.result == 'success') {
                if(output != null){
                    $('.lightbox_content h2').text('Edit company');
                    $('#form_company button').text('Edit company');
                    $('#form_company').attr('class', 'form edit');
                    $('#form_company').attr('data-id', id);
                    $('#form_company .field_container label.error').hide();
                    $('#form_company .field_container').removeClass('valid').removeClass('error');
                    $('#form_company #rank').val(output.rank);
                    $('#form_company #name').val(output.name);
                    $('#form_company #industry').val(output.industry);
                    $('#form_company #revenue').val(output.revenue);
                    $('#form_company #fiscalYear').val(output.fiscalYear);
                    $('#form_company #employees').val(output.employees);
                    $('#form_company #marketCap').val(output.marketCap);
                    $('#form_company #headquarters').val(output.headquarters);
                    hide_loading_message();
                    show_lightbox();
                } else {
                    hide_loading_message();
                    show_message('Information request failed', 'error');
                }
            });
            request.fail(function (jqXHR, textStatus) {
                hide_loading_message();
                show_message('Information request failed: ' + textStatus, 'error');
            });
        });

        // Edit company submit form
        $(document).on('submit', '#form_company.edit', function (e) {
            e.preventDefault();
            // Validate form
            if (form_company.valid() == true) {
                // Send company information to database
                hide_ipad_keyboard();
                hide_lightbox();
                show_loading_message();
                var id = $('#form_company').attr('data-id');
                var form_data = $('#form_company').serialize();
                var request = $.ajax({
                    url: '/api/companies/' + id,
                    cache: false,
                    data: form_data,
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    type: 'PUT'
                });
                request.done(function (output) {
                    if (output.result == 'success') {
                        // Reload datable
                        table_companies.api().ajax.reload(function () {
                            hide_loading_message();
                            var company_name = $('#name').val();
                            show_message("Company '" + company_name + "' edited successfully.", 'success');
                        }, true);
                    } else {
                        hide_loading_message();
                        show_message('Edit request failed', 'error');
                    }
                });
                request.fail(function (jqXHR, textStatus) {
                    hide_loading_message();
                    show_message('Edit request failed: ' + textStatus, 'error');
                });
            }
        });

        // Delete company
        $(document).on('click', '.function_delete a', function (e) {
            e.preventDefault();
            //var company_name = $(this).data('name');
            var company_name = $(this).parent().parent().parent().parent().parent().children("td:eq(2)").text();
            if (confirm("Are you sure you want to delete '" + company_name + "'?")) {
                show_loading_message();
                var id = $(this).parent().parent().parent().parent().parent().children("td:eq(0)").text();
                var request = $.ajax({
                    url: '/api/companies/' + id,
                    cache: false,
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    type: 'DELETE'
                });
                request.done(function (output) {
                    console.log(output);
                    if (output.result == 'success') {
                        // Reload datable
                        table_companies.api().ajax.reload(function () {
                            hide_loading_message();
                            show_message("Company '" + company_name + "' deleted successfully.", 'success');
                        }, true);
                    } else {
                        hide_loading_message();
                        show_message('Delete request failed', 'error');
                    }
                });
                request.fail(function (jqXHR, textStatus) {
                    hide_loading_message();
                    show_message('Delete request failed: ' + textStatus, 'error');
                });
            }
        });

    });
</script>*@

@*}*@



@{
    ViewBag.Title = "Bus Stops";
}

<h1>Reports</h1>
@*<p>Select a report.</p>*@

<!-- CONTENT -->
<div class="content">
    <p>Select a report.</p>
    <br />
    <div class="row">
        <div class="media col-sm-6" style="margin-top:15px;">
            <div class="media-left col-xs-3">
                <a href="@Url.Action("AdaComplianceReport", "Report")"> <img class="media-object img-responsive" src="/img/bsms-icons-reports.png"> </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">ADA Compliance Report</h3>
                <p>List of all bus stops that have ADA compliance issues. </p>
                @Html.ActionLink("View Report", "AdaComplianceReport", "Report")
                @*<a href="report-ada-general.html">View Report</a>*@
            </div>
        </div>
        <div class="media col-sm-6">
            <div class="media-left col-xs-3">
                <a href="@Url.Action("AdaRepairCostReport", "Report")"> <img class="media-object img-responsive" src="/img/bsms-icons-reports.png"> </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">ADA Repair Cost Report</h3>
                <p>List of all bus stops that have ADA compliance issues and the cost to repair per bus stop. </p>
                @Html.ActionLink("View Report", "AdaRepairCostReport", "Report")
                @*<a href="report-ada-costs.html">View Report</a>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="media col-sm-6" style="margin-top:15px;">
            <div class="media-left col-xs-3"><a href="@Url.Action("Index", "BusStop")"> <img class="media-object img-responsive" src="/img/bsms-icons-reports.png"> </a> </div>
            <div class="media-body">
                <h3 class="media-heading">Single Bus Stop Report</h3>
                <p>To find information about a specific bus stop or bus stop by ID, search the Bus Stops list.  </p>
                @Html.ActionLink("View Report", "Index", "BusStop")
                @*<a href="bus-stops.html">View All Bus Stops</a>*@
            </div>
        </div>
        <div class="media col-sm-6">
            <div class="media-left col-xs-3"> <a href="@Url.Action("CityOwnedBusStopsReport", "Report")"> <img class="media-object img-responsive" src="/img/bsms-icons-reports.png"> </a> </div>
            <div class="media-body">
                <h3 class="media-heading">City-Owned Bus Stops Report</h3>
                <p>List of all bus stops within a city.</p>
                @Html.ActionLink("View Report", "CityOwnedBusStopsReport", "Report")
                @*<a href="report-city-stops.html">View Report</a>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="media col-sm-6" style="margin-top:15px;">
            <div class="media-left col-xs-3"> <a href="@Url.Action("WorkOrdersReport", "Report")"> <img class="media-object img-responsive" src="/img/bsms-icons-reports.png"> </a> </div>
            <div class="media-body">
                <h3 class="media-heading">Work Orders Report</h3>
                <p>View work order activity within a certain date range.</p>
                @Html.ActionLink("View Report", "WorkOrdersReport", "Report")
                @*<a href="report-work-orders.html">View Report</a>*@
            </div>
        </div>
        <div class="media col-sm-6">
            <div class="media-left col-xs-3"> <a href="@Url.Action("AuditLogs", "Management")"> <img class="media-object img-responsive" src="/img/bsms-icons-reports.png"> </a> </div>
            <div class="media-body">
                <h3 class="media-heading">Audit Trail Report</h3>
                <p>Audit trail report showing data changes (on Bus Stops, Work Orders and User Profiles) and the user who performed the change. </p>
                @Html.ActionLink("View Report", "AuditLogs", "Management")
                @*<a href="audit-logs.html">View Audit Logs</a>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="media col-sm-6" style="margin-top:15px;">
            <div class="media-left col-xs-3"> <a href="@Url.Action("CustomReportTool", "Report")"> <img class="media-object img-responsive" src="/img/bsms-icons-reports.png"> </a> </div>
            <div class="media-body">
                <h3 class="media-heading">Custom Report Tool</h3>
                <p>Custom reports using field selector. </p>
                @Html.ActionLink("View Report", "CustomReport", "Report")
                @*<a href="report-custom.html">Create a Custom Report</a>*@
            </div>
        </div>
        <div class="media col-sm-6">
            <div class="media-left col-xs-3"> <a href="@Url.Action("GeoLocationReport", "Report")"> <img class="media-object img-responsive" src="img/bsms-icons-reports.png"> </a> </div>
            <div class="media-body">
                <h3 class="media-heading">Geo Location Report</h3>
                <p>View Bus Stops on a Map. </p>
                @Html.ActionLink("View Report", "GeoLocationReport", "Report")
                @*<a href="audit-logs.html">View Audit Logs</a>*@
            </div>
        </div>
    </div>
</div>
<!-- end .content -->
